body {
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}
.error{color:#ff1a1a;}

.thumb_market{
height: 200px; width: 300px;
}

.market_item{
  height:450px;
}

/* collapsable categories selector*/
.btn.btn-primary.btn-xs.collapsed {
  display: inline-block !important;
}
.accordion-group {
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.accordion-inner { border-top: none;}


@media screen and (max-width: 979px) {
body { padding-top:0; }
.navbar .nav { float:none; }
.navbar .nav > li { border:0; }
}
    
.ml-c{margin-left: 100px;}
.mr-10{margin-right: 10px;}
.mt25{margin-top: 25px;}
.widget-boxes{margin-right: 20px; }
.sbp{cursor: pointer;}
.p-0{padding: 0;}
.pl-0{padding-left: 0;}
/*.hidden-phone .nav > li a:hover,.hidden-phone .nav > li.active a, .dropdown-sidebar.sbp.active a{border-right: 2px solid;}*/
.hidden-phone .nav > li > a {padding: 6px 15px;}
.thumbnail {margin-right: 20px; margin-bottom: 20px;}
.divider{border: 1px solid #e3e3e3;margin-top: 10px;margin-bottom: 10px;}
.star-required{color:red;}
.edit-image{margin-bottom: 20px;}
.index-delete{margin-top: 10px;}
.js .collapsed{display: block !important;}
.navbar-toggle{margin-left: 20px;}
li.sbp .caret{float: right;margin-top: 7px;}
.thumbnails{list-style: none;}
.mobile-head-menu{display: none;}
.user-ticket{cursor: pointer;}
/*ORDER PAGE*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/*PRODUCT PAGE*/
.drag-drop-header{position: absolute;
}
.drop-down-box{
	min-height: 190px;
	border:3px dotted #ccc;
	background: #fff;
	border-radius: 5px;
	text-align: center;
}
.drop-down-box span{
position: relative;
top: 75px;
font-size: 20px;	
}

.drop-down-box:hover{
	background: #eee;
}
.file-description{
	word-wrap: break-word;
	display: block!important;
	padding-top: 60px;
}
.btn-drag-drop{
	min-width: 500px;
	height: 200px;
	border: 2px dotted;
}

/*MAIN CONTENT*/
.bs-docs-nav{
}
.main{
	padding-left: 205px;
	position: relative;
	min-height: 1250px;
}

/*WIDGET VIEW*/
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}

ul.plholder li.liholder{
    cursor: move !important;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    color: white;
    background: gray;
    width: 90%;
}

ul.plholder li.placeholder{
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ul.plholder li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
    color: red;
}
/*HEADER*/

.header-container{padding: 0px 20px 0px 0px;}
.navbar-nav li a:hover{border-bottom: 3px solid #46b8da; padding-bottom:12px;}
.nav.navbar-nav > li a , .navbar-brand{color: #fff;}
.navbar-brand{color: #fff!important;}
.dropdown-menu li a{color:#000!important; border-bottom:none!important; padding-bottom:3px!important;}

/*Sidebar*/
.panel-title a {color:#000;text-decoration: none;white-space: nowrap;}
td li a{padding: 0!important;}
.panel-group .panel{border-radius: 0px;}

.br li a{text-decoration: none;}
.br li {min-width: 110px;}
.br.active {background-color: #eee!important;}
.br:hover {background-color: #eee;}
.panel-default>.panel-heading{background-color: #222!important;border-bottom: 1px solid #101010;border-radius: 0px;}
.panel-default>.panel-heading+.panel-collapse .panel-body{border:none;}
.panel-heading a{color:#fff!important;}
.panel-group .panel+.panel{margin-top: 0px;border:#222;}
.panel-collapse .panel-body .table li {list-style: none;}
.btn-colapse-sidebar{cursor: pointer;}
.side-ul li.active{border-right: 3px solid #46b8da;}
.side-ul li:hover{border-right: 3px solid #46b8da;}
.panel{border:none;}

.product-panel{border:1px solid #428bca!important;}
.product-panel .panel-body{padding: 15px;}
li.sbp.active{border-right: none;}
li.sbp:hover{border-right: none;}

.respon-left-panel {
	z-index: 1;
	position: fixed;
    margin-top: -9px;
    min-width: 185px;
    padding: 0px;
    /*background-color: inherit;*/
    -moz-transition: left .1s ease-out;
	-ms-transition: left .1s ease-out;
	-o-transition: left .1s ease-out;
	-webkit-transition: left .1s ease-out;
	transition: left .1s ease-out;
}
.side-ul li a:hover {
	background-color: inherit;
}
.respon-left-panel li a {
	color:#000;
	padding: 5px 0px 5px 10px;
}
.respon-left-panel li a:hover {
	color:#000;
}
.left-mobile-sidebar{
	display: block!important;
	max-width: 300px;
}

.miniclose{

}
/*TICKETS*/

.ww{word-wrap:break-word;
}
/*colapsable sidebar*/
.sidebar-nav .nav.nav-list.side-ul.hide{

}
.respones-colapse{
	width: 18px!important;
	min-width: 35px;
	float: left;
}
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px; }
.panel-body table tbody.aside-table tr td { padding-left: 25px; padding-right: 25px; }
.panel-body .table {margin-bottom: 0px; }
.submenu {display: none; list-style: disc;}

.submenu.active{display: block;}
.submenu li.active a{text-decoration: underline; font-weight:bold;list-style-type: amharic;}
.submenu li a{border-right: 0px !important;}
#accordion{max-width:100%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;-ms-transition: all 0.4s ease;transition: all 0.4s ease;}
#accordion.mini-col{max-width: 45px;}
.aside-table{position: absolute;
left: 45px;
margin-top: -40px;
background-color: #fff;
border: 1px solid #eee;}
.btn-sidebar-menu{display: none;}
.dropdown-toggle i{margin-right: 5px;}

.chosen-container-single .chosen-single{height: 27px !important;}
.chosen-container.chosen-container-multi ul.chosen-choices li.search-field input{height: 27px !important;}
.chosen-container { min-width: 220px !important; }

.ml-20{margin-left: 20px;}
.edit_ad_form{margin-left: 150px;}
.ml-10{margin-left: 10px!important;}
/*bbcode style fix*/
div.sceditor-group{padding: 1px 15px 5px 5px!important;}
.sceditor-button{padding: 0px 0px 0px 2px!important; width: 20px!important;}
.sceditor-button, .sceditor-button div{margin-top: 3px!important;}
/*On/Off FlipSwitch*/
.onoffswitch {position: relative; width: 80px;-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer;border: 1px solid #BBBBBB; border-radius: 5px; margin-bottom: 0;}
.onoffswitch-inner {display: block; width: 200%; margin-left: -100%;-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after {display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px; font-size: 14px; color: white; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.onoffswitch-inner:before {content: "ON"; padding-left: 14px; background-color: #3276b1; color: #FFFFFF;}
.onoffswitch-inner:after {content: "OFF"; padding-right: 10px; background-color: #EBEBEB; color: #555555; text-align: right;}
.onoffswitch-switch {display: block; width: 30px; margin: 0px; background: #FFFFFF; border: 1px solid #BBBBBB; border-radius: 5px; position: absolute; top: 0; bottom: 0; right: 48px; box-sizing: initial; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; background:-webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0;}

/*hide summernote upload image file*/
.note-image-dialog h5:first-child {font-size:20px;display:none;}
.note-image-dialog input.note-image-input {display:none;}
/*col-md*/

@media screen and (max-width: 979px) {
	.navbar .nav{float: left!important;}
	.btn-sidebar-menu{display: block; margin-left: 10px;}
	div.bs-docs-nav{margin-top: 57px;min-height: 935px;overflow: hidden;}
}
/*col-sm*/
@media screen and (max-width: 769px) { 
	.main{
    padding-left: 15px;
}
	.edit_ad_form{margin-left: 0px;}
	.respon-left-panel{position: absolute;}
	.mobile-head-menu{display: block;}
	.mobile-head-menu-item{
	    float: left;
	    background: #222;
	    padding: 7px 2px 4px 5px;
	    margin: -10px 0px 0px 5px;
	
	}
	.mobile-head-menu-item.open ul.dropdown-menu{
    position: absolute;
    background: #222;
}
	.mobile-head-menu-item.open a{background-color: #222!important;}
}
@media screen and (max-width: 480px) {
	.main{ }
	.admin-table-user{display: none;}
}