body {
padding-top: 75px;
padding-bottom: 40px;
background: #E5E9EC;
}
.sidebar-nav {
padding: 9px 0;
}
.error{color:#ff1a1a;}

.thumb_market{
height: 200px; width: 300px;
}

.market_item{
  height:450px;
}

/* collapsable categories selector*/
.btn.btn-primary.btn-xs.collapsed {
  display: inline-block !important;
}
.accordion-group {
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.accordion-inner { border-top: none;}

/* bootstrap hack to fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}
.tab-content > .active,
.pill-content > .active {
    height: auto;
}

@media screen and (max-width: 979px) {
body { padding-top:0; }
.navbar .nav { float:none; }
.navbar .nav > li { border:0; }
}
    
.ml-c{margin-left: 100px;}
.mr-10{margin-right: 10px;}
.mt25{margin-top: 25px;}
.sbp{cursor: pointer;}
.p-0{padding: 0;}
.pl-0{padding-left: 0;}
/*.hidden-phone .nav > li a:hover,.hidden-phone .nav > li.active a, .dropdown-sidebar.sbp.active a{border-right: 2px solid;}*/
.hidden-phone .nav > li > a {padding: 6px 15px;}
.thumbnail {margin-right: 20px; margin-bottom: 20px;}
.divider{}
.star-required{color:red;}
.edit-image{margin-bottom: 20px;}
.index-delete{margin-top: 10px;}
.index-delete-inline{margin-left: 5px; margin-top:0;}
.js .collapsed{display: block !important;}
.navbar-toggle{margin-left: 20px;}
li.sbp .caret{float: right;margin-top: 7px;}
.thumbnails{list-style: none;}
.mobile-head-menu{display: none;}
.user-ticket{cursor: pointer;}
/*ORDER PAGE*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/*PRODUCT PAGE*/
.drag-drop-header{position: absolute;
}
.drop-down-box{
	min-height: 190px;
	border:3px dotted #ccc;
	background: #fff;
	border-radius: 5px;
	text-align: center;
}
.drop-down-box span{
position: relative;
top: 75px;
font-size: 20px;	
}

.drop-down-box:hover{
	background: #eee;
}
.file-description{
	word-wrap: break-word;
	display: block!important;
	padding-top: 60px;
}
.btn-drag-drop{
	min-width: 500px;
	height: 200px;
	border: 2px dotted;
}

/*MAIN CONTENT*/
.panel-sidebar .panel-body ul {padding-left: 10px;}
.panel-sidebar .panel-body li {list-style-type: none;}
.panel-sidebar .panel-body a {font-size: 17px;}
.main{
	padding-left: 205px;
	position: relative;
	min-height: 1250px;
}

/*WIDGET VIEW*/
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}

ul.plholder li.liholder{
    cursor: move !important;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    color: white;
    background: gray;
    width: 90%;
}

ul.plholder li.placeholder{
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ul.plholder li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
    color: red;
}
/*HEADER*/

.header-container{padding: 0px 15px 0px 0px;}
.navbar-nav li a:hover{}
.nav.navbar-nav > li a , .navbar-brand{}
.navbar-brand{float: left!important;}
.dropdown-menu li a{}
.navbar-default {min-height: 50px;}
.navbar-default .navbar-brand {width: 225px; background-color:rgba(0, 0, 0, 1); color:#8b91a0; font-size:16px; text-transform:uppercase;padding-bottom: 13px;padding-top: 13px; height:50px;}
.navbar-default .navbar-brand .glyphicon {margin-right: 5px;}
.navbar-default .navbar-brand:hover {background:#000000; color:#FFFFFF;}
.navbar-default .navbar-brand:focus {background-color:rgba(0, 0, 0, 1); color:#8b91a0;}
.navbar-default .navbar-nav > li > a {padding-bottom: 13px;padding-top: 13px;}
.navbar-default .navbar-btn {margin-bottom: 5px;margin-top: 5px;}
.navbar-default .navbar-toggle {margin: 0px;background-color:#000000; padding:17px 18px 18px 18px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.navbar-default .navbar-toggle .icon-bar {background-color: rgba(255, 255, 255, 0.5)}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color:#000000;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {background-color:rgba(255, 255, 255, 1);}

/*Sidebar*/
.panel-title a {text-decoration: none;white-space: nowrap; display:block;color:#8b91a0;padding: 10px 15px;}
.panel-title a:hover {color:#FFFFFF; background:#121515; border-left:4px solid #3b9bed;}
td li a{padding: 0!important;}
.panel-group .panel{border-radius: 0px;}

.br li a {text-decoration: none;}
.br li {min-width: 110px;}
.br.active {background-color: #eee!important;}
.br:hover {background-color: #eee;}
.panel-sidebar > .panel-heading {background-color: #1B1E24!important;border-radius: 0px; padding:0;}
.panel-sidebar > .panel-heading + .panel-collapse .panel-body{border:none;}
.panel-heading a {}
.panel-heading a .glyphicon {color:#d3d6db!important;margin-right: 5px; font-size:12px; vertical-align:10%;}
.panel-heading a .i-right {opacity: 0.45;margin: 2px 0 0;float: right;}
.panel-group .panel+.panel{margin-top: 0px;border:#222;}
.panel-collapse .panel-body .table li {list-style: none;}
.btn-colapse-sidebar{cursor: pointer;}
.side-ul li.active{border-right: 3px solid #46b8da;}
.side-ul li:hover{border-right: 3px solid #46b8da;}
.panel-sidebar{border:none;}

.product-panel{border:1px solid #428bca!important;}
.product-panel .panel-body{padding: 15px;}
li.sbp.active{border-right: none;}
li.sbp:hover{border-right: none;}

.respon-left-panel {
	z-index: 1;
	position: fixed;
    margin-top: -17px;
    min-width: 225px;
    padding: 0px;
    /*background-color: inherit;*/
    -moz-transition: left .1s ease-out;
	-ms-transition: left .1s ease-out;
	-o-transition: left .1s ease-out;
	-webkit-transition: left .1s ease-out;
	transition: left .1s ease-out;
	height: 100%;
}
.side-ul li a:hover {
	background-color: inherit;
}
.respon-left-panel li a {
	color:#000;
	padding: 5px 0px 5px 10px;
}
.respon-left-panel li a:hover {
	color:#000;
}
.left-mobile-sidebar{
	display: block!important;
	max-width: 300px;
}

.miniclose{

}
/*TICKETS*/

.ww{word-wrap:break-word;
}
/*colapsable sidebar*/
.sidebar-nav .nav.nav-list.side-ul.hide{

}
.respones-colapse{
	width: 18px!important;
	min-width: 35px;
	float: left;
}
.panel-sidebar .panel-body {padding:0px;}
.panel-sidebar .panel-body table tr td.br {padding: 0;border:0;}
.panel-sidebar .panel-body table tr td.br a {padding: 10px 25px!important; display:block; line-height:1; font-size:14px;background-color:#1B1E24; color:#d3d6db;}
.panel-sidebar .panel-body table tr td.br a:hover {background-color:#121515; color:#FFFFFF;}
.panel-sidebar .panel-body table tr td.br a .glyphicon {color:#d3d6db!important;margin-right: 5px; font-size:12px; vertical-align:4%;}
.panel-sidebar .panel-body table tbody.aside-table tr td {border: 0;}
.panel-sidebar .panel-body .table {margin-bottom: 0px;}
.submenu {display: none; list-style: disc;}

.submenu.active{display: block;}
.submenu li.active a{text-decoration: underline; font-weight:bold;list-style-type: amharic;}
.submenu li a{border-right: 0px !important;}
#accordion{max-width:100%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;-ms-transition: all 0.4s ease;transition: all 0.4s ease; height:100%; background:#1B1E24;}
#accordion.mini-col{max-width: 45px;}
.aside-table{position: absolute;
left: 45px;
margin-top: -40px;
background-color: #fff;
border:0;}
.aside-table tr td li{min-width: 180px;}
.btn-sidebar-menu{display: none;}
.dropdown-toggle i{margin-right: 5px;}

.chosen-container-single .chosen-single{height: 27px !important;}
.chosen-container.chosen-container-multi ul.chosen-choices li.search-field input{height: 27px !important;}
.chosen-container { min-width: 220px !important; }

.ml-20{margin-left: 20px;}
.edit_ad_form{margin-left: 150px;}
.ml-10{margin-left: 10px!important;}

/*On/Off FlipSwitch*/
.onoffswitch {position: relative; width: 80px;-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer;border: 1px solid #BBBBBB; border-radius: 5px; margin-bottom: 0;}
.onoffswitch-inner {display: block; width: 200%; margin-left: -100%;-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after {display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px; font-size: 14px; color: white; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.onoffswitch-inner:before {content: "ON"; padding-left: 14px; background-color: #3276b1; color: #FFFFFF;}
.onoffswitch-inner:after {content: "OFF"; padding-right: 10px; background-color: #EBEBEB; color: #555555; text-align: right;}
.onoffswitch-switch {display: block; width: 30px; margin: 0px; background: #FFFFFF; border: 1px solid #BBBBBB; border-radius: 5px; position: absolute; top: 0; bottom: 0; right: 48px; box-sizing: initial; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; background:-webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:-o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background:linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0;}

.popover-title {color:#333;}

.page-header {
    margin: 0 0 25px;
    padding: 5px 0;
    border: none;
}
.page-header h1 {
    margin: 0;
    font-size: 26px;
}
.page-header h1 small {
    color: #999999;
}
.breadcrumb {
    background: #FFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
}
.breadcrumb > .active {
    color: #999999;
}
.plholder {
    padding: 0;
}
.collapse-menu {
    position: absolute;
    bottom: 50px;
    width: 225px;
}
.collapse-menu .btn-colapse-sidebar {
    background-color: #000000 !important;
}
.mini-col .collapse-menu {
    width: 45px;
}
input[type="radio"]{
    margin-left:5px!important;
}
.radio label{
    padding-left:5px!important;
    margin-right: 15px;
}
/*col-md*/
@media screen and (max-width: 979px) {
	.navbar .nav{float: left!important;}
	.btn-sidebar-menu{display: block; margin-left: 10px;}
	div.bs-docs-nav{margin-top: 75px;min-height: 935px;overflow: auto;}
}
/*col-sm*/
@media screen and (max-width: 769px) { 
	.main{
    padding-left: 15px;
}
	.edit_ad_form{margin-left: 0px;}
	.respon-left-panel{position: fixed;}
	.mobile-head-menu{display: block;}
	.mobile-head-menu-item{
	    float: left;
	    background: #222;
	    padding: 7px 2px 4px 5px;
	    margin: -10px 0px 0px 5px;
	
	}
	.mobile-head-menu-item.open ul.dropdown-menu{
    position: absolute;
    background: #222;
}
	.mobile-head-menu-item.open a{background-color: #222!important;}
}
@media screen and (max-width: 480px) {
	.main{ }
	.admin-table-user{display: none;}
	.popover-title {font-size: 11px; max-width:220px;}
	.popover-content .btn-sm {font-size: 11px;}
	.navbar-default {background-color: #000;}
}
#docModal .post-content h1 {
    font-size: 25px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#docModal .post-content h2,
#docModal .post-content h3,
#docModal .post-content h4,
#docModal .post-content h5,
#docModal .post-content h6 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 2em 0 0.5em;
  color: #666666;
}

/* Stats Styles */
.statcard {
    border-radius: 4px;
    color: #4f565c;
    border: 1px solid #dfe3eb;
    box-shadow: 0 1px 1px #ededed;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-top-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px #dae1e3;
    overflow: hidden;
}

.statcard .text-highlighted {
    color: #2196f3;
}

.statcard .p-a {
    padding: 20px !important;
}

.statcard .statcard-desc {
    color: #a9aebd;
    font-size: 85%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: inherit;
    font-weight: normal;
}

.statcard .statcard-number {
    margin-bottom: 0;
    margin-top: 0;
    color: #2196f3;
}

.statcard .delta-indicator {
    display: inline-block;
    font-size: 12px;
    padding: 4px;
    color: inherit;
    vertical-align: middle;
    border-radius: 3px;
    margin-top: -2px;
}

.statcard .ago {
    display: inline-block;
    font-size: 10px;
    padding: 0px;
    color: #999;
    vertical-align: middle;
    margin-top: -2px;
    text-transform: uppercase;
    width: 100%
}

.statcard .delta-positive,
.statcard .delta-negative {
    color: inherit;
    font-weight: normal;
}

.statcard .delta-positive::after {
    border-color: -moz-use-text-color transparent;
    border-style: none solid solid;
    border-width: 0 4px 4px;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

.statcard .delta-negative::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

.statcard .delta-positive {
    background: #3fb83f;
    color: rgba(255, 255, 255, 0.90);
}

.statcard .delta-negative {
    background: #cc4c4c;
    color: rgba(255, 255, 255, 0.65);
}

.statcard .statcard-hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0 !important;
}

.statcard canvas {
    margin-bottom: -10px;
}

.display-block {
    display: block;
}

.statcard .display-block {
    color: #444;
}

.statcard .display-block .p-a {
    min-height: 167px;
}


.statcard .display-block:hover {
    text-decoration: none;
}

.statcard .progress {
    margin-bottom: 0;
}

.statcard .progress-bar {
    background-color: #3FB83F;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
    padding-left: 0;
}
