/* Wordcloud */
.word { font-family:Arial, sans-serif; padding:4px 4px 4px 4px; letter-spacing:3px; text-decoration:none; font-weight:normal; }
.size9 { color:#000; font-size:26px; }
.size8 { color:#111; font-size:24px; }
.size7 { color:#222; font-size:22px; }
.size6 { color:#333; font-size:20px; }
.size5 { color:#444; font-size:18px; }
.size4 { color:#555; font-size:16px; }
.size3 { color:#666; font-size:14px; }
.size2 { color:#777; font-size:12px; }
.size1 { color:#888; font-size:8px; }
.size0 { color:#999; font-size:6px; }
#wordcloud a { display:inline; }
#wordcloud a:hover { background:none; text-decoration:underline; }
/* CSS Document */
img { border:none; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
ul, ol { margin:0; padding:0; }
li { list-style:none; }
body { padding-top:50px; }
.body_fixed{padding-top: 0px;}
.required { font-weight:bold; }
.error{color:#ff1a1a;}
span.break { display:block; }
h1, h2, h3 { margin-bottom:.5em; }
.mb-30 {margin-bottom: 30px;}
.mt20 {margin-top: 20px;}
/*.js .collapsed{display: block!important;}*/
/* ========TOP Menu============*/
.subnav { min-height: 43px; background-color: #EEEEEE; background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%); background-repeat: repeat-x; border: 1px solid #E5E5E5; height: 36px; margin-bottom: 20px; width: 100%; position: relative;}
.subnav .nav { margin-bottom: 0; }
.subnav .nav > li > a { border-left: 1px solid #F5F5F5; border-radius: 0 0 0 0; border-right: 1px solid #E5E5E5; margin: 0; padding-bottom: 11px; padding-top: 11px; }
.subnav .nav > .active > a, .subnav .nav > .active > a:hover { background-color: #E9E9E9; border-left: 0 none; border-right-color: #DDDDDD; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset; color: #777777; padding-left: 13px; }
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret { border-top-color: #777777; }
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover { border-left: 1px solid #F5F5F5; border-radius: 4px 0 0 4px; padding-left: 12px; }
.subnav .nav > li:last-child > a { border-right: 0 none; }
.subnav .dropdown-menu { border-radius: 0 0 4px 4px; border: medium none;}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover { border-radius: 0 0 0 0; }

/*#logo { margin-bottom:20px; }*/
#logo img { margin-top:10px; }
#logo .span4 { text-align:right; }
#logo .navbar-search { margin-top: 20px; }
#logo .no-margin { margin-top: 25px; }
.social-btn{margin-bottom: 10px; margin-right: 5px;}
.mr-new{padding-left: 150px;}
.full-w{width: 100%;}
/*FORUM page*/
.forum-title{margin-top:0;}
/*REVIEW page*/
.button-space-review{width: 220px;}
.full-w{width:100%;}
.rating .glyphicon-star{font-size: 14px;}
/*WIDGET Rating*/
.tooltip{z-index: 9999;}

.item.active a{text-decoration: none;}
.item.active a img{border: 1px solid #fff;
padding: 3px;}
.btn-vertical-slider{ margin-left:100%; cursor:pointer;}

.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}​
/*================= Home ==========================*/
.categories .span3 { width:31.22%; margin:0 2% 14px 0; }
.categories h2 {}
.categories ul { -moz-box-sizing:border-box; box-sizing:border-box; margin-bottom: 20px; padding: 0 8px 15px; border: 1px; border-top:0; border-radius:5px; }
.ie .categories ul li.cathead { border-top-left-radius: 0; border-top-right-radius: 0; }
.categories ul li { border-bottom: 1px solid #DDDDDD; line-height: 24px; margin: 0; overflow: hidden; padding: 3px 0 2px 4px; text-transform: lowercase; }
.categories ul li a { display:block; }
/* ============= Search ============= */
.adv-btn{padding-top: 23px; }
/* ========== Footer ================*/
footer { padding: 10px;}
footer p { margin:10px 0 20px 10px; }
.pages li { border-right: 1px ; display: inline-block; padding: 0 10px; }
.pages li:last-child { border-right:none; }
.ie7 .pages li { display: inline; }

/*================= Ad Detail Page ==========================*/
.picture a { float:left; margin: 0 20px 21px 0; }
.ie8 .picture a { }
.picture figure { height: auto; max-width: 110px; padding:0; margin:0; }
.picture figure img { border: 1px solid #CCCCCC; display: block; line-height: 0; max-width: 100%; height:auto; padding: 3px; }
.picture figure img:hover { border:1px solid #013F5C; box-shadow:0 0 5px rgba(194, 194, 194, 0.7); }
#share a { margin:0 5px 5px 0; float:left; }
.ie8 .picture figure { display:inline-block; float:left; }
.info { margin:14px 0; }
.info ul li { line-height:21px; width:40%; margin-right:4%; float:left; }
.price { color:#AE0C0C; font-size:1.2em; }
.emailme a { cursor:pointer; }
a > i { margin-right:5px; margin-top:1px; }
#email-me { margin-top:14px; }
#mail-me .control-group { margin-bottom:0; }
#contact-owner h3 { margin-bottom:7px; }
.highlight{
    background-color: #f5f5f5;
    padding: 13px;
}
/*================= Ad Listing Categorie ==========================*/
#listing-list h1 { margin-bottom:18px; }
#listing-list .list h2 { margin-bottom:14px; }
#listing-list .list ul { margin-bottom:14px; }
#listing-list .list ul li { line-height:21px; }
.pagination li.active a { font-weight:bold; }


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #F7F5F5;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin: -2px -7px -2px -7px;
    border:none;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
    height: 200px;
    /*float: left;*/
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
    max-width: 200px;
    margin-right: 20px;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/*====================== Single ========================*/
.main-image{width: 100%; min-height: 300px; max-height: 300px;}
.offer-valid{font-size: 12px;}
.offer del{font-size: 13px;}

.glyphicon { margin-right:5px;}
.rating{margin-top: 20px;}
.rating a {text-decoration: none;}
.rating .glyphicon {font-size: 17px; }
.rating-num { margin-top:0px;font-size: 54px; margin-bottom: 0px;}
.progress { margin-bottom: 5px; height: 21px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

/* Main carousel style */
.carousel {
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    position: relative;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
/*================= Sitemap ==========================*/
#sitemap ul { margin-bottom:18px; }
#sitemap ul li { line-height:28px; }


.carousel .carousel-inner .item img {
  width: 100%;
}
.caption{word-wrap:break-word;}
.featured{
    background:#a6c8e6;
}

/* collapsable categories selector*/
.btn.btn-primary.btn-xs.collapsed {
    display: inline-block !important;
}
.accordion-group {
    border: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}
.accordion-inner { border-top: none;}
/*.btn-header-group{padding-top: 7px;}*/
.btn-header-group a {padding: 11px;}

/* button inverese is missing in Boot3 */
.btn-inverse {
    color: #fff;
    background-color: #262626;
    border-color: #000;}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #333333;
    border-color: #000;
}
.btn-primary-white {
    color: #000;
    background-color: #fff;
    border-color: #adadad;}
.btn-primary-white:hover, .btn-primary-white:focus, .btn-primary-white:active, .btn-primary-white.active, .open .dropdown-toggle.btn-primary-white {
    color: #000;
    background-color: #e6e6e6;
    border-color: #c2c2c2;
}
/* shade and size of slider arrows*/
.carousel-control{width: 6%;}
.carousel-control.right, .carousel-control.left{background-image: none;}

/* collapsable categories selector*/
.collapsed { display: inline-block !important;}
.accordion-body {margin-left: 15px;}

.navbar-nav li{border-right: 1px solid rgba(255,255,255,0.1) !important;}
.navbar-nav li:first-child{border-left: 1px solid rgba(255,255,255,0.1) !important;}

/* no different badge styles in boot3*/
.badge-success{background-color: #5cb85c;}
.chosen-container-single .chosen-single{height: 27px !important;}
.chosen-container.chosen-container-multi ul.chosen-choices li.search-field input{height: 27px !important;}
/*bbcode style fix*/
div.sceditor-group{padding: 1px 15px 5px 5px!important;}
.sceditor-button{padding: 0px 0px 0px 2px!important; width: 20px!important;}
.sceditor-button, .sceditor-button div{margin-top: 3px!important;}
.fixed_header{position: relative!important; top:0px!important;}
.container{width: 970px!important;}
.navbar-collapse.bs-navbar-collapse.collapse{padding-left: 0;padding-right: 0px;}

/*icon placeholder*/
.thumbnail .icon-placeholder {background-color:#CCCCCC;color:#969696;padding:42% 44%;}

/*multi column dropdown*/
.multi-column-dropdown {width:505px;-webkit-column-count:3;-moz-column-count:3;-ms-column-count:3;-o-column-count:3;column-count:3;columns:3;}
.multi-column-dropdown li {display: inline-block;width:160px}

.min-h{min-height: 163px!important; display:block;}

.single-h1{font-size: 26px;}

/* stripe custom button */
.stripe-button-el span {
  background: none !important;
  height: unset !important;
  min-height: unset !important;
  font-weight: 700 !important;
  padding: 0px !important;
  border: 0px !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;

  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.stripe-button-el,
.stripe-button-el:hover,
.stripe-button-el:focus,
.stripe-button-el:active.stripe-button-el:visited {
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  color: #333 !important;

  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;

  background-image: none !important;
  background:#497cb1 !important;

  text-shadow: none !important;

  border: 2px solid !important;
  border-color: #497cb1 !important;

}
.stripe-button-el:hover,
.stripe-button-el:focus {
  background: #426f9f !important;
  border: 2px solid !important;
  border-color: #426f9f !important;
  color: #FFFFFF !important;
}

.stripe-button-el span:before {
  font-family: 'FontAwesome';
  content: '\f09d';
  padding-right: 10px;
  text-shadow: none !important;
  font-size: 14px !important;
}

.social-providers.list-inline > li {
  padding: 5px;
}

/* selectpicker dropdown menu*/
.bootstrap-select > .dropdown-toggle{width:auto;}
.bootstrap-select.btn-group .dropdown-menu {min-width:auto;}

/*================= Media Queries ==========================*/


@media (min-width: 980px) {
.subnav-fixed { position: fixed; top: 44px; left: 0; right: 0; z-index: 1020; border-color: #d5d5d5; border-width: 0 0 1px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.subnav-fixed .nav { width: 938px; margin: 0 auto; padding: 0 1px; }
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
}

@media screen and (max-width: 979px) {
body { padding-top:0; }
.container.resiz-cont{width: 100% !important;}
.navbar .nav { float:none; }
.navbar .nav > li { border:0; }
#logo{margin-top: 50px;}
.mr-new{padding-left: 20px;}
.subnav.navbar{display: none;}
/* Home */

.categories .span3 { width:100%; margin:0 0 10px 0; }
.nav-cat-cont { display:none; }
/* footer */
.pages li { display:block; border-right:0; text-align:left; line-height:35px; }
.pages li a { display:block; padding-left:10px; }
.pages li a:hover { background:#ededed; }
.navbar-collapse.bs-navbar-collapse.collapse{padding-left: 0px;padding-right: 0px;}
}

@media only screen and (max-width : 480px) {
  .modal-body{
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }
}
