/**
 * Custom theme styles that overwrites theme 
 */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}


@media screen and (max-width: 979px) {
    body { padding-top:0; }
    .navbar .nav { float:none; }
    .navbar .nav > li { border:0; }
}

li{
	list-style-type: none;
}

.category_box_title{
	height: 30px;
	top: 2px;
	position: relative;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 2px 0px;
	padding: 10px 0px 0px 0px;
	background-color: #2fa3e6;
}
.custom_box {
	height: 10px;
}
.custom_box_content{
	background-color: #FFF;
    padding: 0 0 0 10px;
}

.category_box_title a{
	color: white;
	font-size: 17px;
	margin-left: 5px;
}

.count_ads{
	float:right;
}
.nav-header a{
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: 5px;
}

.featured{
	background:#C5DBFA;
}

.advert_img {
	float: left;
	margin-right: 5px;
}

.price{
	color: rgb(192, 79, 79);
}

.latest_ads {
	height: 300px !important;
	background-color: #FFF;
    overflow: hidden;
}

#modal-gallery{
	
	width: 50%;
}
.header_cat_list{
	font-size: 13px;
}

/* collapsable categories selector*/
.btn.btn-primary.btn-mini.collapsed {
	display: inline-block !important;
}
.accordion-group {
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}
.accordion-inner { border-top: none;}

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.resized {width: 205px;}
.error{color:#ff1a1a;}